.card i {
    margin:auto;
}
.row .card:first-child {
    border-radius: 5px 0px 0px 5px !important;
}
.row .card:last-child {
    border-radius: 0px 5px 5px 0px !important;
}
.text-costume table tr td {
    color:rgb(187, 187, 187);
}
input {
    display: none;
}
.delete {
    cursor: pointer;
}
.file {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
  }
table tr td {
    width:50%;
    padding:10px;
}