{% include 'navbar.html' %}
<html>
    <head>
        <title>
            Home
        </title>
        {% load static %}
        {{ form.media }}
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    </head>
    <body>
        <div class="card col-md-6 m-auto shadow-lg mt-3">
            <div class="card">
                <div class="card-header">
                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}    
                        <details>
                            <summary>New Post</summary>
                            {{form.as_p}}
                            <input type="submit" value="Submit" />
                        </details>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum, accusamus esse! Voluptates, dolor minus quia blanditiis molestias maxime consectetur odio? Magni cupiditate ad similique. Amet dolore id quod rerum voluptatum!
                </div>
                <div class="card-body">

                </div>
            </div>
        </div> 
    </body>
</html>