{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/fontawesome/css/all.css' %}">
<div class="navbar navbar-dark bg-dark navbar-expand-sm justify-content-between">
    <div class="navbar-nav">
        <div class="nav_item">
            <a href="/" class="nav-link"> <i class="fa fa-home"></i> Home</a>
        </div>
    </div>
    <div class="navbar-nav ml-auto">
        <div class="nav_item">
            <a href="/login" class="nav-link">Login</a>
        </div>
    </div>
</div>