{% include 'navbar.html' %}
<html>
    <head>
        <title>
            Profile
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <div class="card shadow-lg">
                <div class="row">
                    <div class="card col-md-6 m-0 border-0 bg-dark shadow-lg">
                        <i class="far fa-user-circle display-1 text-white"></i>
                    </div>
                    <div class="card col-md-6 m-0 border-0 bg-dark shadow-lg text-costume">
                        <table>
                            <tr>
                                <td>
                                    First Name
                                </td>
                                <td>
                                    {{user.firstName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Last Name
                                </td>
                                <td>
                                    {{user.lastName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Username
                                </td>
                                <td>
                                    {{user.username}}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>