{% include 'navbar.html' %}
<html>
    <head>
        <title>
            Profile
        </title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <div class="card shadow-lg">
                <div class="row">
                    <div class="card col-md-6 m-0 border-0 bg-dark shadow-lg">
                        <i class="far fa-user-circle display-1 text-white"></i>
                    </div>
                    <div class="card col-md-6 m-0 border-0 bg-dark shadow-lg">
                        <span>Username</span>
                        <span>{{user.firstName}}</span>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>