{% include 'navbar.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
<html>
    <head>
        <title>
            Register
        </title>
    </head>
    <body>
        <div class="container">
            <div class="card px-3 bg-dark text-white mt-3">
                <div class="row">
                    <div class="card bg-dark col-md-6 border-0">
                        <i class="fas fa-user-alt user-ico"></i>
                    </div>
                    <form action="/register" method="POST" enctype="multipart/form-data" class="col-md-6 px-0">
                        {% if errors %}
                            {% for error in errors %}
                                <div class="alert alert-danger col-md-12 bg-danger border-0 mt-0">
                                    {{error}}
                                </div> 
                            {% endfor %}
                        {% endif %}
                        {% csrf_token %}    
                        <span>First Name</span>
                        <input type="text" name="firstName" />
                        <span>Last Name</span>
                        <input type="text" name="lastName" />
                        <span>Email</span>
                        <input type="text" name="email" />
                        <span>Username</span>
                        <input type="text" name="username" />
                        <span>Passord</span>
                        <input type="password" name="password" />
                        <span>Conform Passord</span>
                        <input type="password" name="confirmPassword" />
                        <input class="border-0" type="submit" value="Register" />
                    </form>
                </div>
            </div>
        </div>
        <script src="{% static 'js/register.js' %}"></script>
    </body>
</html>